<form> 
    <strong> Zip Code: </strong> 
    <input [(ngModel)]="temp.zipCode" name="zipcode" placeholder="Type an 8 diget zipcode" > <br><br>

    <strong>Units:</strong><br>
    <input type="radio" name="units" value="f" (click)="changeUnits('f')" [checked]="temp.metric===0" > Fahrenheit <br>
    <input type="radio" name="units" value="c" (click)="changeUnits('c')" [checked]="temp.metric===1"> Celsius <br><br>
    
    <strong>Average based on </strong><br>
    <input type="radio" name="avg" value="h" (click)="changeHighLow('h')" [checked]="temp.highlow===4" >  High <br>
    <input type="radio" name="avg" value="c"  (click)="changeHighLow('l')" [checked]="temp.highlow===2" > Low <br> <br>
    
    
    <strong>First Date:</strong> <br>
    <input type="date" [(ngModel)]="temp.firstDate" name="firstDate" > <br>
    <strong>Second Data:</strong> <br>
     <input type="date" [(ngModel)]="temp.secondDate" name="secondDate" > <br>

</form> 

<button (click)="getAverage()"><strong>Get Average</strong></button> 
<button (click)="reset()"><strong>Reset</strong></button> 

<div *ngIf="temp.errors">
    <h2>There was an error Please try again</h2>
</div>

<div *ngIf="temp.notallDataFilledIn">
    <h2>Please Fill in all values</h2>
</div>

<div *ngIf="average">
    <h2>The average <strong> {{ temp.highlowToSting() }} temp is {{ average }} degrees {{ temp.metricToString() }} </strong> </h2>
    <br> Data <br> 
    {{ temp.firstDate }}'s {{ temp.highlowToSting() }} was {{ temp.getTemp(temp.firstData)}} degrees {{ temp.metricToString() }} <br>
    {{ temp.secondDate }}'s {{ temp.highlowToSting() }} was {{  temp.getTemp(temp.secondData) }} degrees {{ temp.metricToString() }} <br> 
</div>